__init__.py
*.pyc
.*.swp
.#*
#*#
*~
*.pb
*.root
*.db
*.csv

# ignore partially applied patches and their backup
*.rej
*.orig


# ignore files under the top level $CMSSW_BASE/src directory, but not its subdirectories
/*
!/*/

# ignore folders with inputs
1ev/
2ev/

# ignore some IDE related files
*.xcodeproj
.vscode

#ignore mac specific file
.DS_Store
EventFilter/Phase2PixelRawToDigi/test/log
